<html>
    <head>
        <title>micro-frontend-poc</title>
        <link rel="stylesheet" href="/application.development.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="container">
            <header>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
            </header>

            <div style="display: flex; flex-direction: row;">
                <span class="item">Left filler</span>
                <dfds-devex-capabilitydashboard-component class="item" style="height: 600px; flex: 2;"></dfds-devex-capabilitydashboard-component>
                <span class="item">Right filler</span>
            </div>

            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
        </div>

        <script src="/application.development.js"></script>
        <script>
            var blaster = DFDS.DEVEX.Blasterv2;
            var app = new blaster.application.Application();
        </script>
        <script src="/ResizeSensor.js"></script>
        <script src="/ElementQueries.js"></script>        
    </body>
</html>