<html>
    <head>
        <title>micro-frontend-poc</title>
        <link rel="stylesheet" href="../dist/application.development.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="container">
            <header>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
            </header>

            <dfds-devex-capabilitydashboard-component class="item" style="height: 200px; flex: 1;"></dfds-devex-capabilitydashboard-component>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
        </div>

        <script src="../dist/application.development.js"></script>
        <script>
            var blaster = DFDS.DEVEX.Blasterv2;
            var app = new blaster.application.Application();
        </script>
        <script src="/view/ResizeSensor.js"></script>
        <script src="/view/ElementQueries.js"></script>        
    </body>
</html>