<html>
    <head>
        <title>micro-frontend-poc</title>
        <script src="https://kit.fontawesome.com/a466903c6d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="application.development.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="container">
            <header>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
                <span class="item">xaxaxa</span>
            </header>

            <div style="display: flex; flex-direction: row;">
                <span class="item">Left filler</span>
                <dfds-devex-capabilitydashboard-component currentUser="emcla@dfds.com" class="item" style="height: 600px; flex: 2;"></dfds-devex-capabilitydashboard-component>
                <span class="item">Right filler</span>
            </div>

            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="item">xaxaxa</span>
            <span class="icon">
                <i class="far fa-chart-bar"></i>
            </span>
        </div>      
    </body>
</html>