
body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 90%;
    height: 95%;

    .item {
        flex: 1;
    }
}

dfds-devex-capabilitydashboard-component[max-width~="120px"] {
    font-size: 8px;
}

dfds-devex-capabilitydashboard-component[max-width~="320px"] {
    font-size: 14px;
}