.capabilityList {
    display: flex;
    flex-direction: column;
    background-color: #ec6060;
    height: 100%;
    overflow: auto; // In case this component is restricted in size, make sure that if overflow occurs, created a scrollbar.
    .capability {
        h2 {
            font-size: 1.6em; 
        }
    }
}

:host {
    font-size: 100%;
}